.animatedFast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.content {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content.animatedFast.ng-enter {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.content.animatedFast.ng-leave {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.container-panel {
  margin-top: 10px;
}
.container-panel div {
  word-wrap: break-word;
}
.sha-panel, .container-panel {
  transition: 0.5s linear all;
  font-size: 12px;
}
.sha-panel.ng-hide, .container-panel.ng-hide {
  opacity: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 0 0;
}

.nopadding {
  padding: 0px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.glyphicon-remove {
  cursor: pointer;
}

.element-right-margin {
  margin-right: 5px;
}

.element-bottom-margin {
  margin-top: 5px;
}

.panel-header-style {
  padding: 5px 40px 0 15px;
}

.panel-body {
  padding: 10px;
}

.btn-default.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.deps-panel {
  margin: 0;
}
.deps-panel .dep-panel {
  margin-right: 15px;
  margin-bottom: 0;
}

.modal-header, .modal-footer {
  background-color: #f5f5f5;
}
.modal-header {
  border-radius: 6px 6px 0 0;
}
.modal-footer {
  border-radius: 0 0 6px 6px;
}

.container-remove-button {
  line-height: 39px;
  font-size: 15px;
  margin-left: 5px;
}

.glyphicon.glyphicon-remove:hover {
  color: rgb(229, 66, 66);
}
