.animatedFast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.content {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content.animatedFast.ng-enter {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.content.animatedFast.ng-leave {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 0 0;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.glyphicon-remove {
  cursor: pointer;
}

.element-right-margin {
  margin-right: 5px;
}

.panel-header-style {
  padding: 5px 40px 0 15px;
}

.panel-body {
  padding: 10px;
}
