<div class="deps-panel panel box">
  <span class="panel-title">Dependencies</span>
  <div class="panel-body">
    <div class="col-md-3 well well-sm dep-panel" ng-repeat="dep in env.Dependencies" popover="{{dep.Host ? dep.Name + '@ http://'+dep.Host+':'+dep.Port+'/' : dep.Name}}"
     popover-trigger="mouseenter">
      <p class="truncate">
        {{dep.Name}}
      </p>
      <p ng-class="{'pending-status' : dep.Status == 'Pending Request'}">
        {{dep.Status}}
      </p>
      <div ng-show="dep.Status != 'Pending Request'" popover="Unregister" popover-trigger="mouseenter">
        <button class="btn btn-xs btn-block" ng-click="unregisterDependency(dep)"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <div ng-show="dep.Status === 'Pending Request'">
        <i class="glyphicon glyphicon-ok-circle accept-sign-color" popover="Accept the Dependency" popover-trigger="mouseenter" ng-click="handleDependency(env, dep, 'accept')"></i>
        <i class="glyphicon glyphicon-remove-circle deny-sign-color pull-right" popover="Reject the Dependency" popover-trigger="mouseenter" ng-click="handleDependency(env, dep, 'reject')"></i>
      </div>
    </div>
  </div>
</div>
