<div class="row">
  <div class="col-md-12 release-wizard-body-header">
    <h4> Step 4: Confirm </h4>
  </div>
  <div class="col-md-12 release-wizard-body-content">
    <div class="col-md-6" ng-repeat="env in selectedEnvs">
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 confirm_details_header">
                Details:
              </div>
              <br>
              <div class="col-md-12 confirm_details_body">
                App - Deplhi-UI <br>
                Environment - {{env.Name}} <br>
                SHA - {{shaToDeploy}} <br>
                RAM - {{container_ram}} MB
                CPU Shares - {{cpu_shares}}
                Containers / Zone - {{containers_per_zone}}
              </div>
              <br><br>
              <div class="col-md-12 confirm_details_footer">
                Post-Deploy - {{post_deploy_message}}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary element-bottom-margin pull-right" ng-click="nextStep()">Deploy</button>
  </div>
</div>
