<div class="row">
  <div class="col-md-12 release-wizard-body-header">
    <h4> Step 1: App/ SHA/ Environments </h4>
  </div>
  <div class="col-md-12 release-wizard-body-content">
    <div class="col-md-4">
      <div class="col-md-12">
        <br><br><br><br>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Application</h3>
          </div>
          <div class="panel-body">
            <center>
              <div class="btn-group" dropdown is-open="appStatus.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                  Select App <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="app in apps">
                    <a href="#">{{app.Name}}</a>
                  </li>
                </ul>
              </div>
              <br>
              <br>
              <input ng-model="shaToDeploy" type="text" class="form-control" placeholder="SHA here..."></input>
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Environments</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="env in envs" class="checkbox">
            <input id="{{env.Name}}" type="checkbox" ng-checked="false">
            <label for="{{env.Name}}">{{env.Name}} (Current SHA: {{env.CurrentSha}})</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary release-next-btn" ng-click="nextStep()">Next</button>
    </div>
  </div>
</div>
