<div class="row">
  <div class="col-md-12 release-wizard-body-header">
    <h4> Step 4: Confirm </h4>
  </div>
  <div class="col-md-12 release-wizard-body-content">
    <div class="col-md-10 nopadding">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 confirm_details_header">
                Details:
              </div>
              <br>
              <div class="col-md-12 confirm_details_body">
                App - Deplhi-UI <br>
                Environment - Staging <br>
                SHA - 56asd3423kjoj3olklafsdf2lk9405923af523 <br>
                RAM - 256 MB
                CPU Shares - 5
                Containers / Zone - 3
              </div>
              <br><br>
              <div class="col-md-12 confirm_details_fo">
                Post-Deploy - Email Notification
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary release-next-btn" ng-click="nextStep()">Deploy</button>
    </div>
  </div>
</div>
