<h4>Environment Configuration And Management</h4>

<!-- <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="selected" ng-repeat="subscriber in vm.subscribers">
            <a ui-sref=".detail({id: subscriber.id})"><i class="glyphicon glyphicon-user"></i> {{subscriber.name}}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10 col-xs-8">
        <div class="subscriber" ui-view="detail"></div>
      </div>
    </div>
  </div>
</div> -->

<!--
<div class="row container">
    <div class="column page-caption">
      <div class="ui large message">
        <h5 class="ui huge header">Environment Configuration And Management</h5>
      </div>
    </div>

    <div class="ui grid">
      <div class="ten wide column">
        <span class="text">Application : </span>
        <select ng-model="selected" ng-change="renderEnvPanel({value: selected})"
           ng-options="app.Name for app in apps">
           <option value="">Choose here</option>
        </select>
      </div>

      <div class="six wide column">
        <div class="three wide column floated right">
         <div class="ui right floated button" ng-click="disp()">Register Dependencies</div>
        </div>

        <div class="three wide column floated right">
          <div class="ui right floated button">New Environment</div>
        </div>
      </div>
    </div>

    <div class="ui grid">
      <div class="eleven wide column">
        <div class="ui grid env-panel">
          <div class="eight wide column" ng-repeat="item in Envs">
            <div ng-show="item">
              <div class="ui segment" my-env item="{{item}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
 -->
