<div class="col-md-8">
  <div class="row">
    <div ng-repeat="env in envs track by $index"
      ui-draggable="true" drag="env" drag-channel="dependencies"
      ui-on-drop="onDrop($event,$data, envs, $index)" drop-channel="dependencies"
      drop-validate="dropValidateHandler($drop, $event, $data)">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-10">
                <a ui-sref=".env({name: env.Name})"><b>{{env.Name | titleize}}</b></a>
              </div>
              <div class="col-md-2">
                <i class="glyphicon glyphicon-remove element-right-margin pull-right" ng-click="deleteEnv(env)"></i>
              </div>
            </div>
          </div>
          <div class="panel-body">
            {{env.Container}} Containers per zone <br>
            {{env.CPU_Shares}} CPU Shares Each<br>
            {{env.Memory}}MB of RAM Each<br>
            <div env-depedency env="{{env}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <!-- Dependencies List -->
  <div class="deps-panel panel panel-info" ng-show="$parent.isRegisterDependency">
    <div class="panel-heading">
      <h4 class="panel-title">Dependencies</h4>
    </div>
    <div class="panel-body">
      <div class="col-md-12 nopadding">
        <div class="col-md-3 well well-sm dep-panel" ng-repeat="dep in deps track by $index"
          ui-draggable="true" drag="dep" drag-channel="dependencies"
          ui-on-drop="onDrop($event, $data, deps, $index)" drop-channel="dependencies"
          drop-validate="dropValidateHandler($drop, $event, $data)">
          <p>
            {{dep.Name}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Environment -->
  <div class="deps-panel panel panel-info" ng-show="$parent.isEnvironment">
    <div class="panel-heading">
      <h4 class="panel-title">New Environment</h4>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input ng-model="newEnvName" type="text" class="form-control" placeholder="Name here...">
        </div>
        <button class="btn btn-success" ng-click="createEnv()">OK</button>
      </form>
    </div>
  </div>
</div>

