 <div class="row container">
    <div class="column page-caption">
      <div class="ui large message">
        <h5 class="ui huge header">Environment Configuration And Management</h5>
      </div>
    </div>

    <div class="ui grid">
      <!-- Application DropDown  -->
      <div class="ten wide column">
        <span class="text">Application</span>
        <select ng-model="selectedApp" ng-options="app.Name for app in apps" ng-change="renderEnvPanel()">
          <option value="">Choose here</option>
        </select>
      </div>

      <div class="six wide column">
        <!-- Register Dependencies -->
        <div class="three wide column floated right">
         <div class="ui right floated button" ng-click="disp()">Register Dependencies</div>
        </div>

        <!-- Delete Environment -->
        <div class="three wide column floated right">
          <div class="ui right floated button">New Environment</div>
        </div>
      </div>
    </div>

    <!-- to list details of environment -->
    <div class="ui grid">
      <div class="eleven wide column">
        <div class="ui grid env-panel">
          <div class="eight wide column" ng-repeat="item in Envs">
            <div ng-show="item">
              <div class="ui segment" my-env item="{{item}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
