<nav class="navbar navbar-inverted navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span ><span class="icon-bar"></span>
      <span class="icon-bar"></span >
    </button>
    <a class="navbar-brand" ui-sref="app">Atlantis</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"> <a ui-sref=".dashboard"> <i class="glyphicon glyphicon-dashboard"> </i> Atlantis UI</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".release-wizard"> <i class="glyphicon glyphicon-random" ></i> Release Wizard</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".deploy"> <i class="glyphicon glyphicon-forward"> </i> Deploy</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".manage"> <i class="glyphicon glyphicon-tasks"> </i> Manage</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".users"> <i class="glyphicon glyphicon-user"> </i> User Administration</a> </li>
    </ul>
  </div>
</nav >
