<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <i class="{{alert.icon}}"></i>  {{alert.message}}
</alert>

<div class="col-md-12">
  <div class="content-header">Apps Management</div>
  <hr>
  <form name="appInfoForm">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-1 checkbox-lable checkbox-lable-internal">
          <div ng-hide="non_atlantis"> Internal </div>
        </div>
        <div class="col-md-1">
          <div ng-hide="non_atlantis">
            <switch id="enabled" name="enabled" ng-model="internal" on="Yes" off="No" class="green"></switch>
          </div>
        </div>
        <div class="col-sm-1 checkbox-lable checkbox-lable-nonatlantis">
          Non Atlantis
        </div>
        <div class="col-md-1">
          <switch id="enabled" name="enabled" ng-model="non_atlantis" on="Yes" off="No" class="green" ng-change="setValidityForNonAtlantis(non_atlantis)"></switch>
        </div>
        <div class="col-md-2">
          <input type="text" name="appName" class="form-control" ng-model="name" placeholder="Name..." required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-2" ng-hide="non_atlantis">
          <input type="text" name="repo" popover="Repo: e.g. git@github.com/abc/atlantis" popover-trigger="mouseenter" class="form-control" ng-model="repo" placeholder="Repo: e.g. git@github.com/abc/atlantis" required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-2" ng-hide="non_atlantis">
          <input type="text" name="root" class="form-control" ng-model="root" placeholder="Root: e.g. /" required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-2">
          <input type="email" name="email" class="form-control" ng-model="email" placeholder="Owner Email" required></input>
          <span class="required-mark">*</span>
          <sapn class="error msg-color" ng-show="appInfoForm.email.$error.email">Invalid email!</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-1 col-md-offset-5">
        <button type="button" class="btn btn-primary element-right-margin btn-sm" ng-click="addApps(name, repo, root, email, internal, non_atlantis)" ng-disabled="appInfoForm.$invalid"> Register</button>
      </div>
    </div>
  </form>
  <div class="row row-top-margin">
    <div class="col-md-12">
      <div class="panel box items-panel">
        <div class="panel-body">
          <span ng-repeat="app in apps" class="row-top-margin">
            <!-- Split button -->
            <div class="btn-group row-top-margin">
              <button type="button" ng-class-odd="'btn odd-panel-bg-color app-border app-button-height'" ng-class-even="'btn btn-default app-button-height'">{{app}}</button>
              <button type="button" ng-class-odd="'btn odd-panel-bg-color app-border app-button-height'" ng-class-even="'btn btn-default app-button-height'">
                <span class="glyphicon glyphicon-edit" popover="Update" popover-placement="bottom" popover-trigger="mouseenter" ng-click="updateApp(app)"></span> &nbsp;
                <span class="glyphicon glyphicon-remove-circle" popover="Unregister" popover-placement="bottom" popover-trigger="mouseenter" ng-click="deleteApp(app)"></span>
              </button>
            </div><span> &nbsp; &nbsp; &nbsp;</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
