<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <i class="{{alert.icon}}"></i>  {{alert.message}}
</alert>

<div class="col-md-12">
  <div class="content-header">IP Group Management</div>
  <hr>
  <form name="ipgroupsForm">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="col-md-2">
          <input type="text" class="form-control" ng-model="grpName" placeholder="Group Name..." required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-6">
          <tags-input ng-model="IPs" placeholder="Add IPs..." allowed-tags-pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" min-tags='1'></tags-input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary element-right-margin btn-sm" ng-click="addIPGroup(grpName, IPs);" ng-disabled="ipgroupsForm.$invalid"> Register</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row row-top-margin">
    <div class="col-md-12">
      <div class="panel box items-panel">
        <div class="panel-body">
          <span ng-repeat="data in data" class="row-top-margin">
            <!-- Split button -->
            <div class="btn-group row-top-margin">
              <button type="button" ng-class-odd="'btn odd-panel-bg-color app-border app-button-height'" ng-class-even="'btn btn-default app-button-height'">{{data}}</button>
              <div ng-class-odd="'btn odd-panel-bg-color app-border app-button-height'" ng-class-even="'btn btn-default app-button-height'">
                <span class="glyphicon glyphicon-edit glyphicon-margin" popover="Update" popover-placement="bottom" popover-trigger="mouseenter" ng-click="updateIPGroup(data)"></span> &nbsp;
                <span class="glyphicon glyphicon-remove-circle glyphicon-margin" popover="Unregister" popover-placement="bottom" popover-trigger="mouseenter" ng-click="deleteIPGroup(data)"></span>
              </div>
            </div><span> &nbsp; &nbsp; &nbsp;</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
