<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <i class="{{alert.icon}}"></i>  {{alert.message}}
</alert>

<div class="col-md-12">
  <div class="content-header">Manager Management</div>
  <hr>
  <form name="managersForm">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-2">
          <input type="text" class="form-control" ng-model="region" placeholder="Region..." required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" ng-model="host" placeholder="Host..." required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" ng-model="managerCName" placeholder="Manager CName..."></input>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" ng-model="registyCName" placeholder="Registry CName..."></input>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary element-right-margin btn-sm" ng-click="addManager(region,host)" ng-disabled="managersForm.$invalid"> Register</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row row-top-margin">
    <div class="col-md-12">
      <div class="panel box items-panel">
        <div class="panel-body"><br>
          <div ng-repeat="(region, hosts) in data.Managers">
            <div class="col-md-12" ng-class-odd="'odd-panel-bg-color'" ng-class-even="'even-panel-bg-color'">
              <span ng-repeat="host in hosts">
                <!-- Split button -->
                <div class="btn-group row-top-margin row-bottom-margin">
                  <button type="button" class="btn btn-default app-border app-button-height">{{region}} : {{host}}</button>
                  <div class="btn btn-default app-border app-button-height">
                    <span class="glyphicon glyphicon-remove-circle glyphicon-margin" popover="Unregister" popover-placement="bottom" popover-trigger="mouseenter" ng-click="deleteManager(region, host)"></span>
                  </div>
                </div><span> &nbsp; &nbsp; &nbsp;</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
