<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <i class="{{alert.icon}}"></i>  {{alert.message}}
</alert>

<div class="col-md-12">
  <div class="content-header">Supervisor Management</div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <div class="col-md-6">
        <input type="text" class="form-control" ng-model="newSupervisor" placeholder="Host..."></input>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary element-right-margin pull-right btn-sm" ng-click="addSupervisor(newSupervisor)"> Register</button>
      </div>
    </div>
  </div>
  <div class="row row-top-margin">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body supervisor-panel">
          <div ng-repeat="sup in supervisors">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4"><h4>{{sup}}</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="deleteSupervisor(sup)"> Unregister</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
