<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <i class="{{alert.icon}}"></i>  {{alert.message}}
</alert>

<div class="col-md-12">
  <div class="content-header">Supervisor Management</div>
  <hr>
  <form name="supervisorsForm">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="newSupervisor" placeholder="Host..." required></input>
          <span class="required-mark">*</span>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary element-right-margin pull-right btn-sm" ng-click="addSupervisor(newSupervisor)" ng-disabled="supervisorsForm.$invalid"> Register</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row row-top-margin">
    <div class="col-md-12">
      <div class="panel box items-panel">
        <div class="panel-body">
          <div ng-repeat="sup in supervisors">
            <div class="col-md-4">
              <div class="panel box row-top-margin">
                <div class="row">
                  <div class="col-md-10">&nbsp;</div>
                  <div class="col-md-2">
                    <i class="glyphicon glyphicon-remove-circle element-right-margin pull-right" popover="Unregister" popover-placement="bottom" popover-trigger="mouseenter" ng-click="deleteSupervisor(sup)"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3"><h4 class="truncate" popover="{{sup}}" popover-placement="bottom" popover-trigger="mouseenter">{{sup}}</h4></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
