<div disable-navigation>
  <div class="modal-header">
    <span class="panel-title">Update <i>'{{name}}'</i></span>
  </div>
  <div class="modal-body">
    <div class="panel-body">
      <div class="row" ng-hide="non_atlantis">
        <div class="col-md-2">Repo : </div>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="repo" placeholder="Repo: e.g. ssh://git@github.com/abc/atlantis"></input>
        </div>
      </div>
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row" ng-hide="non_atlantis">
        <div class="col-md-2">Root : </div>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="root" placeholder="Root: e.g. /"></input>
        </div>
      </div>
      <div class="row"><div class="col-md-12"></div></div>
      <div class="row">
        <div class="col-md-2">Email : </div>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="email" placeholder="Owner Email"></input>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="update(name, root, repo, email, internal, non_atlantis)">Update</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
